@model IEnumerable<ProjectAuto.Models.Car>

@{
    ViewBag.Title = "Car list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateEditCar") |
    @Html.ActionLink("Owners", "Index","Owner",null,null)
</p>
<table class="table">
    <tr>
        <th>
            Model
        </th>
        <th>
            Mark
        </th>
        <th>
            Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.ActionLink("Edit", "CreateEditCar", new { id=item.ID }) |
            @Html.ActionLink("Owner list", "OwnerList", new { id=item.ID }) |
            @Html.ActionLink("Delete", "DeleteCar", new { id=item.ID })
        </td>
    </tr>
}

</table>
